.container {
    text-align: center;
    background-image: url("https://www.readersdigest.ca/wp-content/uploads/2019/09/group-of-dogs-on-blue-background.jpg");
    /* position: fixed; */
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
  
  }

.login {
  border: 5px solid black;
  width: 40%;
  padding: 20px;
  font: bolder;
  font-size: 16px;
  margin: auto;
  font-size: 16px;
  background-color:lavenderblush;
}

.signup {
  border: 5px solid black;
  width: 40%;
  padding: 20px;
  font: bolder;
  font-size: 16px;
  margin: auto;
  font-size: 16px;
  background-color:lavenderblush;
}

.pups {
  border: 5px solid black;
  width: 40%;
  padding: 20px;
  font: bolder;
  font-size: 16px;
  background-color:lavenderblush;
  margin: auto;
}
li{
  list-style-type: none;
}

.btn {
  font: bold 15px Arial;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.h4 {
  font-size: 25px;
  font-weight: bolder;
}

@media (max-width: 901px) {
  #previousSearch {
    max-height: 152px;
  }
}