.me-auto{
background: url("https://cdn.wallpapersafari.com/40/22/m3XAlx.jpg");
font-family: 'Julius Sans One', sans-serif;
font-weight: bolder;
text-align: right; 
position: auto;
list-style: none;
margin-bottom: 10px;
text-align: center;
}
